<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Document</title>
    <link rel = 'stylesheet' href = '/css/app.css'>
</head>
<body>

<form method = 'POST' action = '/home' class = 'form'>
    <h1>Login</h1>
<input type = 'text' placeholder="Enter Name" name = 'name'>
<input type = 'tel' placeholder = 'Enter Contact' name = 'mobile'>
<button>Submit</button>
</form>
    <script src = 'app.js'></script>
</body>
</html>